@import 'variables';

@media only screen and (min-width: 320px) {
  .audio-player {
    width: 320px;
    position: relative;
    box-shadow: 0 8px 8px 0 #c8c8c8;
    z-index: 99;

    .track-item {
      box-shadow: 0 2px 8px 0 #c8c8c8;
      position: relative;
      z-index: 1;
      background: white;

      .meta {
        display: flex;
        align-items: center;
        margin: 5px 0;
        padding-right: 10px;
        padding-bottom: 15px;

        app-toggle-liked-track {
          padding: 10px;
        }

        .details {
          overflow: hidden;
          text-overflow: ellipsis;

          .track-title,
          .artist {
            white-space: nowrap;
          }
        }
      }

      .dummy{
        i{
          padding: 10px;
          color: #ccc;
        }

        .track-title,
        .artist{
          background: #efefef;
          color: transparent;
          display: block;
          height: 17px;
        }

        .track-title{
          width: 250px;
          margin-bottom: 4px;
        }

        .artist{
          width: 100px;
        }
      }

    }
  }
}

@media (max-width: $screen-xs-max) {
  :host {
    position: fixed;
    bottom: 40px;
    width: 100vw;
    z-index: 2;

    .audio-player {
      width: 100%;
      box-shadow: none;

      .track-item{
        height: 48px;
      }

      .play-track {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid;
        margin: 0 8px;

        i {
          font-size: 16px;
          padding: 6px 9px;
        }
      }

      .meta {
        padding: 5px 5px 5px 54px !important;

        .artist {
          display: block;
        }
      }

      app-user-comments{
        display: none;
      }

      /deep/ app-audio-player-controls {
        .button-container {
          padding: 0;
          .prev,
          .next {
            display: none;
          }

          .play,
          .pause{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid;
            margin: 0 8px;
            font-size: inherit;
            padding: 0;
            color: inherit;
            background: none;
            position: absolute;
            left: 5px;
            top: 9px;

            i {
              font-size: 16px;
              padding: 6px 9px;
            }
          }

          .pause i{
            padding: 6px 0;
          }
        }

        /deep/ app-range-slider {
          top: -10px;
          position: absolute;
          width: 100%;
          left: 0;

          .min-value,
          .max-value {
            display: none;
          }
        }
      }

      &.noTrack{
        display: none;
      }
    }
  }
}
