@import 'variables';

div.cover {

  width: 100%;
  max-width: 450px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
  }

}

div.details {

  float: left;
  padding: 15px;
  text-align: center;

  b, p {
    margin: 5px;
  }

}
