<section class="column">

  <span (click)="goBack()"><i class="fa fa-chevron-left"></i> Back</span>
  <h2>Details</h2>

  <hr>

  <div class="cover">
    <img [src]="track.get('artwork_url').getLargeSize()">
  </div>
  <div class="details">
    <b>{{track.get('title')}}</b>
    <p>{{track.get('user').get('username')}}</p>
    <app-play-button [track]="track"></app-play-button>
    <a href="{{track.attributes.purchase_url}}" target="_blank" *ngIf="track.attributes.purchase_url">
      <button class="btn btn-warning" [class.btn-round]="!track.attributes.purchase_title">
        <i class="fa fa-download"></i>
        {{track.attributes.purchase_title}}
      </button>
    </a>
    <a href="{{track.attributes.permalink_url}}" target="_blank" *ngIf="track.attributes.permalink_url">
      <button class="btn btn-success btn-round">
        <i class="fa fa-share"></i>
      </button>
    </a>
  </div>

</section>

