<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<div *ngFor="let hero of heroes.models"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero">
  <img [src]="hero.get('artwork_url')" width="50px">
  <span class="badge">{{hero.id}}</span> {{hero.get('title')}}
</div>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.get('title') | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
