<section class="column">
  <app-view-header>
    <app-collection-text-input-search [collection]="searchCollection" [queryParam]="'q'" #searchBar></app-collection-text-input-search>
  </app-view-header>

  <app-scroll-view>
    <app-social-share-panel
      *ngIf="tracksSoundCloud.length !== 0"
      class="card">
    </app-social-share-panel>

    <app-tab-bar [showTabBar]="true" [activeTabId]="activeTab" #tabBar>
      <app-tab-pane id="SOUNDCLOUD" title="SoundCloud" icon="fa fa-soundcloud">

        <div *ngIf="tracksSoundCloud.length>0"
             class="results">
          <app-filter-form [collection]="tracksSoundCloud">
            <app-min-max-range-filter label="Duration"
                                      [min]="1000" [max]="3600000" [step]="1000"
                                      minFilterProperty="duration[from]"
                                      maxFilterProperty="duration[to]"
                                      [transformDisplayValue]="transformScDurationValue"></app-min-max-range-filter>

            <app-min-max-range-filter label="BPM"
                                      [min]="20" [max]="200" [step]="20"
                                      minFilterProperty="bpm[from]"
                                      maxFilterProperty="bmp[to]"></app-min-max-range-filter>
          </app-filter-form>
          <app-track-list [tracks]="tracksSoundCloud"></app-track-list>
        </div>

        <div *ngIf="tracksSoundCloud.length === 0 && isFetching"
             class="card">
          Searching for tracks that match your query "{{tracksSoundCloud.queryParams.q}}"
        </div>

        <div *ngIf="tracksSoundCloud.queryParams.q && tracksSoundCloud.length === 0 && !isFetching"
             class="card">
          No SoundCloud tracks were found for the query "{{tracksSoundCloud.queryParams.q}}"
        </div>

      </app-tab-pane>
      <app-tab-pane id="YOUTUBE" title="YouTube" icon="fa fa-youtube-play">

        <div *ngIf="tracksYoutube.length>0"
             class="results">
          <app-filter-form [collection]="tracksYoutube"></app-filter-form>
          <app-track-list [tracks]="tracksYoutube"></app-track-list>
        </div>

        <div *ngIf="tracksYoutube.length === 0 && isFetching"
             class="card">
          Searching for tracks that match your query "{{tracksYoutube.queryParams.q}}"
        </div>

        <div *ngIf="tracksYoutube.queryParams.q && tracksYoutube.length === 0 && !isFetching"
             class="card">
          No YouTube tracks were found for the query "{{tracksYoutube.queryParams.q}}"
        </div>

      </app-tab-pane>
    </app-tab-bar>

    <div *ngIf="showWelcomeText"
         class="card getting-started">
      <h1>Welcome to Cloud Player!</h1>
      <p>
        Cloud player is an unofficial SoundCloud player to play songs from SoundCloud.
        <br>
        You can search for all songs that are available on SoundCloud
      </p>
      <p>
        <a (click)="connect()">Connect with your SoundCloud account</a> to get your playlists and liked tracks. They
        will appear in the menubar
        as soon as the connection was successful.
      </p>
      <p>
        You can then create new playlists or edit your existing ones. To add new Songs to your playlists you can simply
        drag and drop tracks on it.
      </p>
      <p>Cloud Player is also available as <a routerLink="/desktop-app">native App for your PC.</a></p>
    </div>
  </app-scroll-view>
</section>
