@import '../../../../_variables.scss';

.play-queue {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 15px;
  margin-top: -5px;
  height: calc(100vh - 490px);
  background: $light-white;

  .queued-tracks-list,
  .scheduled-tracks-list {
    .divider{
      margin: 5px -15px 10px -15px;
    }

    .track{
      display: flex;
      margin-bottom: 10px;

      track-cover{
        width: 60px;
        height: 60px;
        flex-shrink:0;
        margin-right: 10px;
      }

      .details{
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.dummy{
          .title,
          .artist{
            background: $gray-lighter;
            color: transparent;
          }

          .title{
            width: 90%;
          }

          .artist{
            width: 70%;
          }

          .stats{
            display: none;
          }
        }

        .label{
          font-size: 8px;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

}

@media (max-width: $screen-xs-max) {
  :host{
    display: none;
  }
}
