<section class="player" [ngClass]="{'no-items': playQueue.length===0}">

  <div class="track-item">
    <app-track-cover *ngIf="playQueue.length===0"></app-track-cover>
    <app-player-manager #playerManager
                        [playQueue]="playQueue"
                        (playerStatusChange)="changePlayerStatus($event)"></app-player-manager>

    <app-player-controls [isBuffering]="isBuffering"
                         [playQueue]="playQueue"
                         (volumeChange)="setVolume($event)"></app-player-controls>
  </div>

  <app-play-queue [playQueue]="playQueue" class="queue"></app-play-queue>
</section>
