@import 'variables';

.tracks-list {
  background: $light-white;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: $light-boxshadow;

  .track {
    display: flex;
    margin: 0 -15px;
    padding: 20px 15px;

    &:hover{
      background: $gray-lighter;

      .cover /deep/ app-track-play-button .play-button{
        opacity: 1;
      }
    }

    &:not(:last-child){
      border-bottom: 1px solid $gray-lighter;
    }

    .cover{
      position: relative;

      app-track-cover{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
      }

      app-track-play-button{
        width: 100%;
        height: 100%;
      }

      /deep/ app-track-play-button .play-button{
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255,255,255,0.5);
        opacity: 0;
        transition: opacity 0.5s ease;

        &.isPlaying{
          opacity: 1;

          .btn{
            background: rgba(255,255,255,0.6);
            color: $brand-primary;
            border-color: $brand-primary;
          }
        }

        .btn{
          background: rgba(0,0,0,0.2);
          &:hover{
            background: rgba(255,255,255,0.6);
            color: $brand-primary;
            border-color: $brand-primary;
          }
        }
      }
    }

    .details {
      order: 2;
      flex: auto;
      margin-left: 15px;
      overflow: hidden;

      .track-info{
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        app-toggle-liked-track{
          padding-right: 10px;
        }

        .meta{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          flex-grow: 1;

          .created{
            color: #aaa;
            &:before{
              content: '—';
              margin-left: -2px;
              margin-right: 2px;
            }
          }
        }

        .btn-holder{
          display: flex;
          align-self: flex-start;

          .btn{
            margin: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .next-icon{
              font-size: 14px;
              margin-right: -2px
            }
          }

          app-options-btn{
            margin: 0 0 0 3px;
          }
        }
      }

      .stats{
        .label-light{
          border: none;
        }
      }

      app-loading-spinner{
        width: 12px;
        height: 12px;
        display: inline-block;
        top: -3px;
        position: relative;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

}

@media (max-width: $screen-md-min) {
  .tracks-list {
    box-shadow: none;
    border-radius: 0;
  }
}

@media (max-width: $screen-sm-min) {
  .tracks-list{
    .track{
      position: relative;
      .cover{
        app-track-cover{
          width: 40px;
          height: 40px;

          &.hasNoTrack{
            padding: 2px;
          }
        }

        /deep/ app-track-cover{
          .hasNoTrack{
            padding: 2px;
          }
        }

        app-track-play-button{
          width: 40px;
          height: 40px;
        }

        /deep/ app-track-play-button{
          .btn-round{
            width: 30px;
            height: 30px;
            font-size: 12px;
            padding: 0 0 0 1px;
          }
        }
      }
      .details{
        .stats{
          position: absolute;
          left: 15px;
          white-space: nowrap;
          bottom: 10px;

          .label-light{
            &:first-child{
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
