<section class="column">
  <view-header>
    <collection-text-input-search [collection]="tracks" [queryParam]="'q'" #searchBar></collection-text-input-search>
  </view-header>

  <!--<collection-range-input-search [collection]="tracks" [queryParam]="'duration[from]'"></collection-range-input-search>-->
  <!--<sort-tracks [tracks]="tracks"></sort-tracks>-->

  <scroll-view>
    <search-filter [collection]="tracks"></search-filter>
    <track-list [tracks]="tracks"></track-list>
  </scroll-view>
</section>
