<div class="search-filter">
  <ul class="nav nav-tabs">
    <li role="presentation" [class.active]="!showFilterForm"><a (click)="showFilterForm=false">All Results</a></li>
    <li role="presentation" [class.active]="showFilterForm"><a (click)="showFilterForm=true">Filter Result</a></li>
  </ul>
  <div class="item-amount">
    <span class="label label-default">{{collection.length}} Tracks</span>
  </div>
  <div class="new-filter" [@visibilityChanged]="showFilterForm">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label">Duration</label>
        <div class="col-sm-10">
          <two-range-slider
            [(minValue)]="this.collection.queryParams['duration[from]']"
            [(maxValue)]="this.collection.queryParams['duration[to]']"
            [min]="1000"
            [max]="3600000"
            [allowInfinityMin]="true"
            [allowInfinityMax]="true"
            [transformDisplayValue]="transformProgressBarValues"
            (maxValueChanged)="reFetch()"
            (minValueChanged)="reFetch()"
            [step]="1000">
          </two-range-slider>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">BPM</label>
        <div class="col-sm-10">
          <two-range-slider
            [(minValue)]="this.collection.queryParams['bpm[from]']"
            [(maxValue)]="this.collection.queryParams['bpm[to]']"
            [min]="1"
            [max]="200"
            [allowInfinityMin]="true"
            [allowInfinityMax]="true"
            (maxValueChanged)="reFetch()"
            (minValueChanged)="reFetch()"
            [step]="10">
          </two-range-slider>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Genre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="well">
        <p>Save this filter as a quick filter</p>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword3">Password</label>
          <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Password">
        </div>
      </div>

    </form>
  </div>
</div>
