div.collection-search {

  top: 5px;
  right: 5px;
  max-width: 350px;
  margin-left: 5px;
  position: absolute;

}

@media only screen and (min-width: 768px) {

  div.collection-search {

    position: absolute;
    top: 5px;
    right: 5px;
    width: 50%;

  }

}
