<div class="two-range-slider-component" [class.is-loading]="showLoadingSpinner" [class.is-dragging]="dragInProgress">
  <div *ngIf="!hideSliderValue && min !== null"
       class="min-value">
    {{getDisplayValue(min)}}
  </div>

  <div #progressBar class="progress-bar">
    <div #progressLine class="progress-line"></div>

    <div #handleOne class="visible-dragger handle-one" [class.display-value]="!hideSliderValue">
      <span *ngIf="dragInProgress && !hideSliderValue">
        <span *ngIf="allowInfinityMin && dragHandleMinDisplayValue === null">None</span>
        <span *ngIf="!allowInfinityMin || dragHandleMinDisplayValue !== null">{{dragHandleMinDisplayValue}}</span>
      </span>
      <div class="loading-spinner"></div>
    </div>

    <div #handleTwo class="visible-dragger handle-two" [class.display-value]="!hideSliderValue">
      <span *ngIf="dragInProgress && !hideSliderValue">
        <span *ngIf="allowInfinityMax && dragHandleMaxDisplayValue === null">None</span>
        <span *ngIf="!allowInfinityMax || dragHandleMaxDisplayValue !== null">{{dragHandleMaxDisplayValue}}</span>
      </span>
      <div class="loading-spinner"></div>
    </div>

    <input type="range" #sliderOne [min]="min" [max]="max" [(ngModel)]="tmpMinValue" [step]="step">
    <input type="range" #sliderTwo [min]="min" [max]="max" [(ngModel)]="tmpMaxValue" [step]="step">
  </div>

  <div *ngIf="!hideSliderValue && max !== null"
       class="max-value">
    {{getDisplayValue(max)}}
  </div>
</div>
