<div class="tracks-list">
  <app-sort-tracks [tracks]="tracks"></app-sort-tracks>
  <div *ngFor="let track of tracks.models | limitCollectionresults: {limit: 10}" class="track"
       appDraggable
       [dragData]="track.toJSON()"
       [dragImageUrl]="track.get('artwork_url').getSmallSize()"
       dragEffect="copy">
    <div class="cover">
      <app-track-cover [track]="track" [size]="getSize()"></app-track-cover>
      <app-play-button [track]="track" [tracks]="tracks"></app-play-button>
    </div>
    <div class="details">
      <div class="track-info">
        <app-toggle-liked-track [track]="track"></app-toggle-liked-track>
        <div class="meta"
             appPlayTrackOn
             [events]="['click']"
             [track]="track"
             [tracks]="tracks">
          <b class="track-title">{{track.get('title')}}</b>
          <div class="artist">
            <span>{{track.get('user').get('username')}}</span>
            <span class="created">created
              <span [appTimeAgo]="track.get('created_at')">{{track.get('created_at')}}</span>
            </span>
          </div>
        </div>
        <div class="btn-holder">
          <div class="btn btn-xs btn-default"
               (click)="addToQueue(track)">
            <span class="fa fa-arrow-circle-o-right next-icon"></span>
            <span class="fa fa-play" ></span>
          </div>
          <app-options-btn>
            <app-options-btn-option (click)="addToQueue(track)">
              Add to queue
            </app-options-btn-option>
            <app-options-btn-option appPlayTrackOn="click" [track]="track" [tracks]="tracks">
              Play this track and the following ones
            </app-options-btn-option>
            <app-options-btn-option appPlayTrackOn="click" [track]="track">
              Play only this track
            </app-options-btn-option>
            <app-options-btn-option *ngIf="canBeDeleted" (click)="track.destroy()">
              Remove track
            </app-options-btn-option>
          </app-options-btn>
        </div>
      </div>
      <div class="stats">
        <div class="duration label label-default label-light">
          <i class="fa fa-clock-o" aria-hidden="true" alt="play count"></i>
          {{track.get('duration')/1000 | hReadableSeconds}}
        </div>
        <div class="favs label label-default label-light">
          <i class="fa fa-heart" aria-hidden="true" alt="favouites count"></i> {{track.get('likes') | kMilShortener}}
        </div>
        <div class="plays label label-default label-light">
          <i class="fa fa-play-circle" aria-hidden="true" alt="play count"></i> {{track.get('playback_count') | kMilShortener}}
        </div>
        <div *ngIf="track.get('genre')"
             class="genre label label-default label-light">
          #{{track.get('genre')}}
        </div>
      </div>
    </div>
  </div>
</div>
