@import 'variables';

@mixin toast-variant($background, $border, $text-color) {
  border: 1px solid $border;

  .icon-holder {
    background: $background;
    color: $text-color;
  }
}

:host {
  .toast {
    background: white;
    width: 350px;
    display: flex;

    .icon-holder {
      min-width: 40px;
      background: red;
      margin: -10px 5px -10px -15px;
      border-radius: 4px 0 0 4px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
    }

    .content {
      flex-grow: 1;
      padding: 0 5px;
    }

    .action-button {
      margin: 10px 0 0;
    }

    &.info {
      @include toast-variant($brand-info, $brand-info, white);
    }

    &.warning {
      @include toast-variant($brand-warning, $brand-warning, white);
    }

    &.danger {
      @include toast-variant($brand-danger, $brand-danger, white);
    }

    &.primary {
      @include toast-variant($brand-primary, $brand-primary, white);
    }
  }
}
