<div class="tracks-list">
  <div *ngFor="let track of tracks.models" class="track col-md-12">
    <div class="cover" class="col-md-3" (click)="gotoDetail(track)">
      <img [src]="track.get('artwork_url').getDefaultSize()" [alt]="track.get('title')">
    </div>
    <div class="details" class="col-md-9">
      <toggle-liked-track [track]="track"></toggle-liked-track>
      <span>{{track.get('title')}}</span> - <span>{{track.get('duration')/1000 | hReadableSeconds}} - {{track.get('created_at')}}</span>
      <p>{{track.get('user').get('username')}}</p>
      <play-button [track]="track" [tracks]="tracks"></play-button>
      <queue-button [track]="track" [tracks]="tracks"></queue-button>
    </div>
  </div>
</div>
