@import '../../../../variables';

div.tracks-list {

  height: 100%;
  overflow-y: auto;

  div.track {

    display: flex;
    margin: 15px auto;

    div.cover {
      order: 1;
      flex: auto 0 0;
      max-width: 150px;

        img {
          width: 150px;
          height: 150px;
        }

    }

    div.details {
      order: 2;
      flex: auto;
      margin-left: 15px;
    }

  }

  &::-webkit-scrollbar {
    display: none;
  }

}
