@import '../../../../variables';

.tracks-list {
  background: $light-white;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: $light-boxshadow;

  div.track {

    display: flex;
    margin: 15px auto;

    div.cover {
      order: 1;
      flex: auto 0 0;
      max-width: 150px;

        img {
          width: 150px;
          height: 150px;
        }

    }

    div.details {
      order: 2;
      flex: auto;
      margin-left: 15px;
    }

  }

  &::-webkit-scrollbar {
    display: none;
  }

}

@media (max-width: $screen-md-min) {
  .tracks-list {
    box-shadow: none;
    border-radius: 0;
  }
}
