<div class="audio-player-controls">

  <div class="button-container">
    <button class="btn prev"
            type="button"
            [disabled]="!playQueue.hasPreviousItem() && audio.currentTime < 1"
            (click)="previousTrack()">
      <i class="fa fa-backward" aria-hidden="true"></i>
    </button>

    <button class="btn btn-round btn-brand play"
            *ngIf="!playQueue.getPlayingItem()"
            type="button"
            [disabled]="!playQueue.getCurrentItem() || !playQueue.getCurrentItem().get('track').get('stream_url')"
            (click)="playTrack()">
      <i class="fa fa-play" aria-hidden="true"></i>
    </button>

    <button class="btn btn-round btn-brand pause"
            *ngIf="playQueue.getPlayingItem()"
            type="button"
            (click)="pauseTrack()">
      <i class="fa fa-pause" aria-hidden="true"></i>
    </button>

    <button class="btn next"
            type="button"
            [disabled]="!playQueue.hasNextItem()"
            (click)="nextTrack()">
      <i class="fa fa-forward" aria-hidden="true"></i>
    </button>
  </div>

  <app-range-slider [min]="0"
                    [max]="duration"
                    [value]="timeTick"
                    [step]="0.01"
                    [isLoading]="isBuffering"
                    [transformDisplayValue]="transformProgressBarValues"
                    [showCurrentValue]="true"
                    (valueChanged)="playTrackFromPosition($event)"
                    class="time">
  </app-range-slider>

  <!--<app-range-slider [min]="0"-->
                <!--[max]="1"-->
                <!--[value]="audio.volume"-->
                <!--[step]="0.01"-->
                <!--[hideSliderValue]="true"-->
                <!--(valueChange)="setVolume($event)"-->
                <!--(valueChanged)="saveVolume($event)"-->
                <!--class="volume">-->
  <!--</app-range-slider>-->
</div>
