@import 'variables';

:host {
  #dz-root{
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  .provider-cover{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    background: white;
    transition: opacity 0.2s ease-in-out;
  }
}
