@import './variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Master Styles

* {
  font-family: $font-family-sans-serif;
}

html {
  overflow: hidden;
}

body {
  background: $body-bg;
}

main {

  &:before {
    width: 100%;
    height: 5px;
    background: $brand-primary;
    background: linear-gradient(#f70, #f30);
  }

  &:after {
    width: 100%;
    height: 10px;
    background: $gray-light;
  }

}

a {
  cursor: pointer;
}

h1 {
  font-size: 22px;
  margin: 15px 0;
}

header {
  background: $gray-dark;
}
