@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './_variables';

// Master Styles

* {
  font-family: $font-family-sans-serif;
}

html {
  overflow: hidden;
}

body {
  background: $body-bg;
}

a {
  cursor: pointer;
}

h1 {
  color: $brand-primary;
  font-size: 22px;
  margin: 15px 0;
}

header {
  background: $gray-dark;
}
