@import './_variables.scss';

* {
  font-family: $font-family-base;
  font-weight: 300;
}

html, body {
  height: 100vh;
  width: 100%;
}

body {
  background: $body-bg;
  overflow: hidden;
}

a {
  cursor: pointer;
}

