<div class="form-group">
  <label *ngIf="label"
         class="col-sm-2 control-label">
    {{label}}
  </label>
  <div class="col-md-10">
    <app-two-range-slider #ngControl="ngModel"
                          [min]="min"
                          [max]="max"
                          [step]="step"
                          [allowInfinityMin]="true"
                          [allowInfinityMax]="true"
                          [showSliderValue]="true"
                          [transformDisplayValue]="transformDisplayValue"
                          [(ngModel)]="value">
    </app-two-range-slider>
  </div>
</div>
