<div class="play-queue"
     appDropzone
     (dropData)="drop($event)">

  <div class="queued-tracks-list" *ngIf="playQueue.getQueuedItems().length > 0">
    <div class="divider">
      <div class="title">Coming up next</div>
    </div>
    <div *ngFor="let playQueueItem of playQueue.getQueuedItems()"
         class="track"
         appDraggable="true"
         [dragData]="playQueueItem.track.toJSON()"
         [dragImageUrl]="playQueueItem.track.image.getSmallSizeUrl()"
         dragEffect="copy">
      <app-track-cover [track]="playQueueItem.track" [size]="coverSize"></app-track-cover>
      <div class="details"
           [class.dummy]="!playQueueItem.track.artist.getFullName()">
        <div style="display: flex; align-items: center">
          <b class="title"
             style="flex-grow: 1; width: inherit; overflow: hidden; text-overflow: ellipsis;">
            {{playQueueItem.track.title || 'None'}}
          </b>
          <button class="btn btn-xs btn-default" (click)="playQueueItem.unQueue()">
            <span class="fa fa-trash"></span>
          </button>
        </div>
        <div class="artist">{{playQueueItem.track.artist.getFullName()}}</div>
        <div class="stats">
          <div class="duration">
            <i class="fa fa-clock-o" aria-hidden="true" alt="play count"></i>
            {{playQueueItem.track.duration/1000 | hReadableSeconds}}
          </div>
          <div *ngIf="playQueueItem.track.genre"
               class="genre">
            #{{playQueueItem.track.genre}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scheduled-tracks-list" *ngIf="playQueue.getScheduledItems().length > 0">
    <div class="divider">
      <div class="title">Next Songs</div>
    </div>
    <div *ngFor="let playQueueItem of playQueue.getScheduledItems() | limitCollectionresults: {limit: 10}"
         class="track"
         appDraggable="true"
         [dragData]="playQueueItem.track.toJSON()"
         [dragImageUrl]="playQueueItem.track.image.getSmallSizeUrl()"
         dragEffect="copy">
      <div class="cover">
        <app-track-cover [track]="playQueueItem.track" [size]="coverSize"></app-track-cover>
      </div>
      <div class="details"
           [class.dummy]="!playQueueItem.track.artist.getFullName()">
        <b class="title">
          {{playQueueItem.track.title || 'None'}}
        </b>
        <div class="artist">{{playQueueItem.track.artist.getFullName() || 'None'}}</div>
        <div class="stats">
          <div class="duration">
            <i class="fa fa-clock-o" aria-hidden="true" alt="play count"></i>
            {{playQueueItem.track.duration/1000 | hReadableSeconds}}
          </div>
          <div *ngIf="playQueueItem.track.genre"
               class="genre">
            #{{playQueueItem.track.genre}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="playQueue.getScheduledItems().length === 0 && playQueue.getQueuedItems().length === 0 && !playQueue.getCurrentItem()">
    <p>No tracks available. <a routerLink="/app">Search</a> for a track and click on it to play it.</p>
    <p>You can drag and drop tracks here to add them to the play queue</p>

  </div>

  <div
    *ngIf="playQueue.getScheduledItems().length === 0 && playQueue.getQueuedItems().length === 0 && playQueue.getCurrentItem()">
    No more tracks available. <a routerLink="/app">Search</a> for more tracks to keep the party going on.
  </div>

</div>
