@import 'variables';

:host{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .play-queue {
    padding: 10px 15px;
    margin-top: -5px;
    background: $light-white;
    flex-grow: 1;

    .queued-tracks-list,
    .scheduled-tracks-list {
      .divider{
        margin: 5px -15px 10px -15px;
      }

      .track{
        display: flex;
        margin-bottom: 10px;

        app-track-cover{
          width: 60px;
          height: 60px;
          flex-shrink:0;
          margin-right: 10px;
        }

        .details{
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.dummy{
            .title,
            .artist{
              background: $gray-lighter;
              color: transparent;
            }

            .title{
              width: 90%;
            }

            .artist{
              width: 70%;
            }

            .stats{
              display: none;
            }
          }

          .btn{
            margin: 0;
          }

          .stats{
            margin-top: 5px;

            > div{
              display: inline-block;
              font-size: 11px;
              color: $gray-light;
            }
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

  }
}
@media (max-width: $screen-xs-max) {
  :host{
    display: none;
  }
}
