<div class="play-queue scrollable"
     appDropzone
     (dropData)="drop($event)">

  <div class="queued-tracks-list" *ngIf="playQueue.getQueuedItems().length > 0">
    <div class="divider">
      <div class="title">Coming up next</div>
    </div>
    <div *ngFor="let playQueueItem of playQueue.getQueuedItems()"
         appDraggable="true"
         [dragData]="playQueueItem.track.toJSON()"
         [dragImageUrl]="playQueueItem.track.image.getSmallSizeUrl()"
         dragEffect="copy">
      <app-context-menu>
        <div class="track">
          <app-track-cover [track]="playQueueItem.track" [size]="coverSize"></app-track-cover>
          <div class="details"
               [class.dummy]="!playQueueItem.track.artist.getFullName()">
            <div style="display: flex; align-items: center">
              <b class="title"
                 style="flex-grow: 1; width: inherit; overflow: hidden; text-overflow: ellipsis;">
                {{playQueueItem.track.title || 'None'}}
              </b>
              <button class="btn btn-xs btn-default" (click)="playQueueItem.unQueue()">
                <span class="fa fa-trash"></span>
              </button>
            </div>
            <div class="artist">{{playQueueItem.track.artist.getFullName()}}</div>
            <div class="stats">
              <div class="duration">
                <i class="fa fa-clock-o" aria-hidden="true" alt="play count"></i>
                {{playQueueItem.track.duration/1000 | hReadableSeconds}}
              </div>
              <div *ngIf="playQueueItem.track.genre"
                   class="genre">
                #{{playQueueItem.track.genre}}
              </div>
            </div>
          </div>
        </div>
        <app-add-to-playlist-option [track]="playQueueItem.track" hidden></app-add-to-playlist-option>
      </app-context-menu>
    </div>
  </div>

  <div class="scheduled-tracks-list" *ngIf="playQueue.getScheduledItems().length > 0">
    <div class="divider">
      <div class="title">Scheduled Tracks</div>
    </div>
    <div *ngFor="let playQueueItem of playQueue.getScheduledItems() | limitCollectionresults: {limit: 10}"
         appDraggable="true"
         [dragData]="playQueueItem.track.toJSON()"
         [dragImageUrl]="playQueueItem.track.image.getSmallSizeUrl()"
         dragEffect="copy">
      <app-context-menu>
        <div class="track">
          <div class="cover">
            <app-track-cover [track]="playQueueItem.track" [size]="coverSize"></app-track-cover>
          </div>
          <div class="details"
               [class.dummy]="!playQueueItem.track.artist.getFullName()">
            <b class="title">
              {{playQueueItem.track.title || 'None'}}
            </b>
            <div class="artist">{{playQueueItem.track.artist.getFullName() || 'None'}}</div>
            <div class="stats">
              <div class="duration">
                <i class="fa fa-clock-o" aria-hidden="true" alt="play count"></i>
                {{playQueueItem.track.duration/1000 | hReadableSeconds}}
              </div>
              <div *ngIf="playQueueItem.track.genre"
                   class="genre">
                #{{playQueueItem.track.genre}}
              </div>
            </div>
          </div>
        </div>
        <app-add-to-queue-option [track]="playQueueItem.track" hidden></app-add-to-queue-option>
        <app-add-to-playlist-option [track]="playQueueItem.track" hidden></app-add-to-playlist-option>
      </app-context-menu>
    </div>
  </div>

  <app-empty-state
    *ngIf="showDragAndDropHelp"
    class="drag-and-drop-help"
    title="Drop track here to add it"
    icon="fa fa-queue">
  </app-empty-state>

  <app-empty-state
    *ngIf="playQueue.getScheduledItems().length === 0 && playQueue.getQueuedItems().length === 0 && !playQueue.getCurrentItem()"
    title="No tracks are in the play queue"
    icon="fa fa-queue">
  </app-empty-state>

  <app-empty-state
    *ngIf="playQueue.getScheduledItems().length === 0 && playQueue.getQueuedItems().length === 0 && playQueue.getCurrentItem()"
    title="No more tracks in the play queue"
    icon="fa fa-queue">
  </app-empty-state>

</div>
