@import '../../../../variables';
@import '../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
/* Global styles */

h2 {
  font-size: 28px;
  margin-top: 10px;
}

* {
  font-family: $font-family-base;
  font-weight: 300;
}

html, body {
  height: 100vh;
  width: 100%;
}

body {
  background: #efefef;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.btn {
  margin: 5px;

  &:focus {
    outline: 0;
  }
}

.btn-round {
  width: $btn-width;
  height: $btn-width;
  border-radius: 50%;
}

.btn-brand {
  background: $brand-primary;
  border-color: #fff;
  color: white;

  &:hover {
    background: darken($brand-primary, 5%);
    color: white;
  }
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 1500px;
  background: #efefef;
  margin: auto;
  box-shadow: $light-boxshadow;

  .search-bar {
    -webkit-app-region: drag;
  }

  .flex-container {
    display: flex;
  }

  .routes {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .main {
    .routes {
      padding: 15px;
    }
  }
}

///* Extra Small Devices, Phones */
//@media only screen and (min-width : 480px) {
//
//  main.flex-container {
//
//  }
//
//}
//
///* Small Devices, Tablets */
//@media only screen and (min-width : 768px) {
//
//  main.flex-container {
//
//    flex-wrap: nowrap;
//
//    nav-sidebar {
//      flex: auto 0 0;
//      order: 1;
//    }
//
//    div.routes {
//      flex: auto;
//      order: 2;
//    }
//
//  }
//
//}
//
///* Medium Devices, Desktops */
//@media only screen and (min-width : 992px) {
//
//  main.flex-container {
//
//    audio-player {
//      flex: auto 0 0;
//      order: 2;
//    }
//
//    div.routes {
//      flex: auto;
//      order: 3;
//    }
//  }
//
//}
//
///* Large Devices, Wide Screens */
//@media only screen and (min-width : 1200px) {
//
//  main.flex-container {
//
//    audio-player {
//      flex: auto 0 0;
//    }
//
//    authenticated-user-playlists-view {
//      flex: 1;
//      order: 3;
//    }
//
//    div.routes {
//      flex: 1;
//      order: 4;
//    }
//  }
//
//}
