<div class="tracks-list">
  <div *ngFor="let track of tracks.models" class="track col-md-12">
    <div class="cover" class="col-md-3" (click)="gotoDetail(track)">
      <img [src]="track.get('artwork_url').getDefaultSize()" [alt]="track.get('title')">
    </div>
    <div class="details" class="col-md-9">
      <i *ngIf="track.get('user_favorite') === false || track.get('user_favorite') === true"
         class="fa"
         [class.fa-heart]="track.get('user_favorite')"
         [class.fa-heart-o]="!track.get('user_favorite')"
         aria-hidden="true"></i>
      <span>{{track.get('title')}}</span>
      <p>{{track.get('user').username}}</p>
      <audio-player-play-button [track]="track" [tracks]="tracks"></audio-player-play-button>
    </div>
  </div>
</div>
