@import '../../../../variables';

.audio-player-controls {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 0 10px;
  position: relative;

  .button-container {
    padding-top: 12px;
  }

  range-slider {
    display: block;
    margin-top: -5px;
  }

  button.next, button.prev {
    border: none;
    font-size: 24px;
    background: none;
    vertical-align: middle;

    &:hover {
      color: grey;
    }

  }

  button.play, button.pause {
    width: 60px;
    height: 60px;
    border: none;
    font-size: 28px;
    border-radius: 30px;
  }
}

div.volume, div.time {
  display: flex;
  justify-content: space-around;

  span, i, div {
    flex: auto;
    text-align: center;
  }

  i {
    font-size: 22px;
  }
}

button i.fa-play {
  padding-left: 3px;
}
