<button type="button" (click)="previousTrack()" [disabled]="!playQueue.hasPreviousTrack()">
  <i class="fa fa-backward" aria-hidden="true"></i>
</button>

<button type="button" (click)="playTrack()" *ngIf="!playQueue.getPlayingTrack()">
  <i class="fa fa-play" aria-hidden="true"></i>
</button>
<button type="button" (click)="pauseTrack()" *ngIf="playQueue.getPlayingTrack()">
  <i class="fa fa-pause" aria-hidden="true"></i>
</button>

<button type="button" (click)="nextTrack()" [disabled]="!playQueue.hasNextTrack()">
  <i class="fa fa-forward" aria-hidden="true"></i>
</button>

<input #volume type="range" (input)="setAudioPlayerVolume(volume.value)" min="0" max="1" value="1" step="0.01" title="Volume" />
