<section class="column" *ngIf="playlist">

  <app-view-header>
    <app-play-list-icon [playlist]="playlist"></app-play-list-icon>
    <span class="text">{{playlist.title}}</span>
    <div *ngIf="playlist.canEdit"
         class="button-group actions">
      <a routerLink="/me/playlists/{{playlist.provider}}/{{playlist.id}}/edit"
         class="btn btn-default">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
      <button class="btn btn-default btn-danger" (click)="delete()">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </div>
  </app-view-header>

  <div *ngIf="playlist.description"
       class="col-md-12">
    <p>{{playlist.description}}</p>
  </div>

  <div *ngIf="playlist.items.length>0"
       class="card">

    <div *ngFor="let item of playlist.items.models">

      <app-context-menu>
        <app-track-list-item [track]="item.track" [tracks]="tracks">
          <app-options-btn>
            <app-options-option-btn
              title="Delete" (action)="deleteItem(item)">
            </app-options-option-btn>
          </app-options-btn>
        </app-track-list-item>
      </app-context-menu>
    </div>
  </div>

  <div *ngIf="!playlist.items.isSyncing && playlist.items.length === 0"
       class="card fill-height">

    <app-empty-state title="No tracks in the playlist"
                     icon="fa fa-music"
                     ctaLink="/"
                     ctaText="Search for tracks">
    </app-empty-state>
  </div>
</section>
