@import '../../../../variables';

section.column {
  border-right: solid 1px #dad9d9;
}

div.details {

  display: flex;
  height: 100px;

  p {
    vertical-align: middle;
    font-weight: bold;
    line-height: 95px;
    text-align: left;
    font-size: 16px;
    margin: 0 10px;
    float: left;
    flex: auto;
  }

  button {
    flex-basis: $btn-width;
    margin: 25px 10px;
  }

}

.icon {
  font-size: 24px;
  color: black;
}

.icon:before {
  visibility: visible;
}

.icon:checked {
  color: lightgray;
}

input[type=checkbox].icon {
  visibility: hidden;

}

$img-size: 80px;

a {
  padding: 10px;
  color: $gray-darker;
  display: inline-block;
  text-align: center;
  width: 100%;
}

a:hover {
  color: $gray-light;
  text-decoration: none;
}

div.cover {
  float: left;
  display: inline-block;
  position: relative;
  margin: 10px;
  width: $img-size;
  height: $img-size;
  background: $brand-primary;
  background: linear-gradient(#f70, #f30);
  clip-path: circle(50% at 50% 50%);

  img {
    margin: auto;
    width: $img-size;
  }
}


