@import 'variables';

:host {
  .social-button-holder {
    display: flex;
    justify-content: flex-start;

    > * {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nope-btn {
    //margin: 0;
    //display: flex;
    //align-items: center;
  }

  .tw-follow-btn {
    background: #1b95e0;
    color: white;

    &:hover, &:active, &:focus {
      background: #0c7abf;
    }
  }
}


