<div class="social-share-panel">
  <h3>Stay in touch with us</h3>
  <p>We are working hard on Cloud Player to add new features for you. Follow us on Twitter to get notified when we are
    releasing a new version.</p>
  <p>Big changes are about to come!</p>
  <div class="social-button-holder">
    <a href="https://twitter.com/cldplayer"
       target="_blank"
       class="btn btn-default tw-follow-btn"
       (click)="followed('tw')">
      <span class="fa fa-twitter"></span>
      Follow us on Twitter
    </a>
    <div class="btn btn-default nope-btn" (click)="notShared()">Nah, I'm not on Twitter</div>
  </div>
</div>
