<section class="audio-player" [class.noTrack]="!track">

  <div class="track-item">

    <track-cover [track]="track" class="hidden-xs" [size]="getCoverSize()" [animate]="true"></track-cover>

    <user-comments *ngIf="track" [currentTime]="currentPlayingTime" [comments]="track.get('comments')" class="hidden-xs"></user-comments>

    <audio-player-controls class="controls" (currentTimeChange)="updateCurrentTime($event)"></audio-player-controls>

    <div *ngIf="track" class="meta">
      <toggle-liked-track [track]="track" class="hidden-xs"></toggle-liked-track>
      <div class="details"
           draggable="true"
           [dragData]="track.toJSON()"
           [dragImageUrl]="track.get('artwork_url').getSmallSize()"
           dragEffect="copy">
        <b class="track-title">{{track.get('title')}}</b>
        <div class="artist">{{track.get('user').get('username')}}</div>
      </div>
    </div>

    <div *ngIf="!track"
         class="dummy meta">
      <i class="fa fa-heart-o"
         aria-hidden="true"></i>
      <div class="details">
        <b class="track-title">abc</b>
        <div class="artist">abc</div>
      </div>
    </div>
  </div>

  <play-queue class="queue"></play-queue>
</section>
