<section class="column">

  <div class="audio-player">

    <div class="track-item" *ngIf="track">
      <div class="cover">
        <img [src]="track.get('artwork_url').getLargeSize()">
      </div>
      <div class="details">
        <b>{{track.get('title')}}</b>
        <p>{{track.get('user').get('username')}}</p>
      </div>
    </div>

    <toggle-liked-track [track]="track"></toggle-liked-track>

    <audio-player-controls class="controls"></audio-player-controls>
    <play-queue class="hidden-xs hidden-sm queue"></play-queue>

  </div>

</section>
