<div class="sort-tracks">
  <span class="sort-by sort-by-tracks">
    <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
    <span class="hidden-sm hidden-xs">Sort by:</span>

  </span>
  <app-collection-sort [collection]="tracks" [label]="'Relevance'"></app-collection-sort>
  |
  <app-collection-sort [collection]="tracks" [comparator]="'duration'" [label]="'Duration'"></app-collection-sort>
  |
  <app-collection-sort [collection]="tracks" [comparator]="'likes'" [label]="'Likes'"></app-collection-sort>
  |
  <app-collection-sort [collection]="tracks" [comparator]="'clicks'" [label]="'Plays'"></app-collection-sort>
  |
  <app-collection-sort [collection]="tracks" [comparator]="'createdAt'" [label]="'Created'"></app-collection-sort>
</div>
