div.sort-tracks {
  display: flex;

  .sort-tracks {
    padding-right: 5px;
  }

  .sort-icon{
    margin-right: 5px;
  }

  app-collection-sort {
    flex: auto 0 0;
    display: inline-flex;

    &:before, &:after {
      content: '';
      margin: 0 2px;
    }
  }

}
