<div class="sort-tracks">
  <span class="sort-by visible-xs">
    <i class="fa fa-sort" aria-hidden="true"></i>
  </span>
  <span class="sort-by sort-by-tracks hidden-xs">
    Sort tracks by:
  </span>
  <collection-sort [collection]="tracks" [label]="'None'"></collection-sort>
  |
  <collection-sort [collection]="tracks" [comparator]="'duration'" [label]="'Duration'"></collection-sort>
  |
  <collection-sort [collection]="tracks" [comparator]="'likes'" [label]="'Likes'"></collection-sort>
  |
  <collection-sort [collection]="tracks" [comparator]="'playback_count'" [label]="'Plays'"></collection-sort>
  |
  <collection-sort [collection]="tracks" [comparator]="'created_at'" [label]="'Created'"></collection-sort>
</div>
