@import 'variables';

:host {
  .option-btn {
    padding: 10px 10px 10px 5px;
    display: block;
    border-bottom: 1px solid $gray-lighter;

    &.isActive{
      background: $gray-darker;
      color: $brand-primary;
    }

    &:hover {
      background: $gray-lighter;
      .fa-queue{
        &:after{
          background: $gray-lighter;
        }
      }
    }

    .icon{
      width: 20px;
      display: inline-block;
      text-align: center;
    }

    .fa-queue{
      &:after{
        background: white;
      }
    }
  }
}
