<section class="main">

  <div class="native-bar">
    <div class="darwin-btns"></div>
  </div>

  <main class="flex-container">
    <app-nav-sidebar class="flex-item"></app-nav-sidebar>
    <app-player class="flex-item"></app-player>
    <div class="routes">
      <app-toasts></app-toasts>
      <app-scroll-view>
        <router-outlet class="flex-item"></router-outlet>
      </app-scroll-view>
    </div>

  </main>

</section>

<app-view-change-loader></app-view-change-loader>
<app-modal-holder></app-modal-holder>
