/* Global styles */
@import 'variables';
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

h2 {
  font-size: 28px;
  margin-top: 10px;
}

* {
  font-family: $font-family-base;
  font-weight: 300;
}

html, body {
  height: 100vh;
  width: 100%;
}

body {
  background: #efefef;
  overflow: hidden;
}

a {
  cursor: pointer;
}

a, div {
  &.disabled {
    pointer-events: none;
    cursor: default;
    color: #999 !important;
  }
}

button:focus {
  outline: 0 !important;
}

.btn {
  margin: 5px;

  &:focus {
    outline: 0;
  }
}

.btn-round {
  width: $btn-width;
  height: $btn-width;
  border-radius: 50%;
}

.btn-brand {
  background: $brand-primary;
  border-color: #fff;
  color: white;

  &:hover {
    background: darken($brand-primary, 5%);
    color: white;
  }
}

.btn-danger {
  @include button-variant($brand-danger, $btn-default-bg, $btn-danger-border);
  transition: all 0.3s ease;

  &:hover {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
  }
}

.clickable {
  cursor: pointer;
}

.divider {
  position: relative;

  .title {
    display: flex;
    &:before,
    &:after {
      content: "";
      position: relative;
      border-top: 1px solid #ccc;
      flex-grow: 1;
      margin: 9px 3px;
    }

    &:before {
      max-width: 10px;
    }
  }
}

.card {
  background: $light-white;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 #c8c8c8;
  margin-bottom: 20px;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 1500px;
  margin: auto;
  box-shadow: $light-boxshadow;

  .flex-container {
    display: flex;
  }

  .routes {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  > .version {
    position: fixed;
    color: #cbcbcb;
    bottom: 5px;
    left: 15px;
  }

}

body.native.desktop {
  .native-bar {
    -webkit-app-region: drag;
    width: 100vw;
    position: fixed;
    z-index: 999;
  }

  .main {
    max-width: initial;
  }

  .sidebar {
    .cloud-player {
      display: none;
    }
  }

  @media (min-width: $screen-md-min) {
    .sidebar {
      .menu {
        padding-left: 6px;
        padding-top: 10px;
      }
    }
  }

  &.darwin {
    //background: transparent;

    .native-bar {
      height: 27px;
    }

    @media (min-width: $screen-md-min) {
      .routes {
        padding-top: 25px;
      }

      .sidebar {
        .menu {
          padding-top: 20px;
        }
      }
    }

    @media (max-width: $screen-md-min) {
      .native-bar {
        .darwin-btns {
          width: 320px;
          height: 30px;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          &:after {
            content: '';
            position: absolute;
            width: 343px;
            box-shadow: 0px 0px 27px 27px rgba(0, 0, 0, 0.5);
            top: -16px;
            left: 0;
          }
        }
      }
    }
  }
}

.label + .label {
  margin-left: 5px;
}

.label {
  &.label-light {
    background: transparent;
    border: 1px solid;

    &.label-default {
      color: $gray-light;
    }

    &.label-primary {
      color: $brand-primary;
    }

    &.label-success {
      color: $brand-success;
    }

    &.label-danger {
      color: $brand-danger;
    }

    &.label-info {
      color: $brand-info;
    }

    &.label-warning {
      color: $brand-warning;
    }
  }
}

.scrollable {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  display: block;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .main {
    .routes {
      padding: 15px;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .main {
    .routes {
      margin: 0;
      max-width: initial;
    }
  }
}
