@import 'variables';

:host {
  position: absolute;
  margin-top: 15px;
  overflow: hidden;
  height: calc(100% - 15px);
  left: 10px;
  top: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .comment {
    margin-bottom: 1px;
    display: flex;

    .user-image {
      margin-right: 1px;

      img {
        width: 18px;
        height: 18px;
        vertical-align: initial;
      }
    }

    .text {
      font-size: 12.5px;

      .line,
      app-multi-line /deep/ .line {
        margin-bottom: 1px;
        white-space: nowrap;
        overflow: hidden;
        color: #ff3600;
        background: white;
        padding: 0 5px;
        max-width: 298px;
        height: 18px;
        display: flex;
        align-items: center;
        border-left: 1px solid transparent;
      }

      app-multi-line /deep/ .multiLines {
        border-left: 1px solid $brand-primary;
      }
    }
  }

  &.big-comments {
    .comment {
      margin-bottom: 10px;
      .user-image {
        img {
          width: 40px;
          height: 40px;
        }
      }

      .text {
        font-size: 20px;
        height: 40px;

        .line,
        app-multi-line /deep/ .line {
          height: 40px;
          width: 100% !important;
          max-width: 100vw;
        }
      }
    }
  }
}
