@import 'variables';

:host{
  position: absolute;
  top: 0;
  height: 290px;
  margin-top: 15px;
  overflow: hidden;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .comment{
    margin-bottom: 1px;
    display: flex;

    .user-image{
      margin-right: 1px;

      img{
        width: 18px;
        height: 18px;
      }
    }

    .text{
      font-size: 12.5px;

      .line,
       app-multi-line /deep/ .line{
        margin-bottom: 1px;
        white-space: nowrap;
        overflow: hidden;
        color: #ff3600;
        background: white;
        padding: 0 5px;
        max-width: 298px;
        margin-top: 1px;
        height: 18px;
        display: flex;
        align-items: center;
      }

      app-multi-line /deep/ .multiLines{
        border-left: 1px solid $brand-primary;
      }
    }
  }
}
