<div class="user-comments">

  <ul>
    <li *ngFor="let comment of commentsQueue.models"
        class="comment">
      <div class="user-image">
        <img
          [src]="comment.account.image.getSmallSizeUrl()"/>
      </div>
      <div class="text">
        <app-multi-line
          [text]="comment.body"
          [font]="font"
          [maxLines]="2"
          [maxWidth]="maxWidth"
          [paddingLeft]="5"
          [paddingRight]="5"
          (lineAmountChanged)="updateVisibleLines($event)">
        </app-multi-line>
      </div>
    </li>
  </ul>

</div>

