@import '../../../../variables';

.range-slider-component {
  display: inline-block;
  position: relative;
  margin: 10px 0;
  width: 250px;

  .progress-bar-bg {
    height: 5px;
    width: 100%;
    background: #ccc;
  }

  .progress-bar-line {
    height: 5px;
    width: 0%;
    background: $brand-primary;
    position: absolute;
    left: 0;
    top: 0;
  }

  .visible-dragger {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -5px;
    opacity: 0;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.46);
  }

  input[type="range"] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &:hover,
  &.is-loading{
    .visible-dragger{
      opacity: 1;
    }
  }

  &.is-loading {
    .loading-spinner{
      display: block;
    }
  }
}

$loader-size: 8px;
$loader-color: #f70;
$loader-animation-duration: 1.15s;

.loading-spinner {
  border: 0 solid $loader-color;
  border-radius: 50%;
  position: relative;
  animation: loader-figure $loader-animation-duration cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  transform: translate(3px, 3px);
  display: none;
}

@keyframes loader-figure {
  0% {
    width: 0;
    height: 0;
    left: $loader-size/2;
    top: $loader-size/2;
    background-color: $loader-color
  }
  29% {
    background-color: $loader-color;
  }

  30% {
    top: 0;
    left: 0;
    width: $loader-size;
    height: $loader-size;
    background-color: transparent;
    border-width: $loader-size / 2;
    opacity: 1;
  }

  100% {
    top: 0;
    left: 0;
    width: $loader-size;
    height: $loader-size;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

