.search {
  margin: 10px auto;
}

.search-result {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 200px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;

  .cover {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    flex-grow: 1;
  }

  .info {
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    padding: 2px 5px;
  }
}
