<div class="cloud-player-logo">
    <object type="image/svg+xml"
            data="/assets/logo-layers/left-wheel.svg"
            class="left-wheel anim-rotate reverse animatable"></object>
    <object type="image/svg+xml"
            data="/assets/logo-layers/right-wheel.svg"
            class="right-wheel anim-rotate reverse animatable"></object>
    <object type="image/svg+xml"
            data="/assets/logo-layers/rack.svg"
            class="rack anim-rotate animatable"></object>
    <object type="image/svg+xml"
            data="/assets/logo-layers/tape.svg"
            class="tape"></object>
    <object type="image/svg+xml"
            data="/assets/logo-layers/note-l.svg"
            class="note-l animatable"></object>
    <object type="image/svg+xml"
            data="/assets/logo-layers/note-r.svg"
            class="note-r animatable"></object>
    <object #playPause
            type="image/svg+xml"
            data="/assets/logo-layers/play-pause.svg"
            class="play-pause"></object>
</div>
