// Bootstrap variables
$font-family-base: 'Raleway', Helvetica, sans-serif;
$brand-primary: #ff3600;
$input-border-focus: lighten($brand-primary,20%);
$border-radius-base: 0;
$border-radius-small: 0;
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

// Cloud Player variables
$btn-width: 40px;
$btn-color: $brand-primary;
$light-white: #fcfcfc;
$light-boxshadow: 0 0 8px 0 rgb(200, 200, 200);

// aux.app variables
$aux-brand-primary: #e800b4;
$purple-light: #9981a8;
$purple: #564065;
$purple-darker: #5d5563;
$purple-dark: #403647;
$primary-boxshadow: 0 0 8px 0 rgba(0,0,0,0.7);
$primay-gradient: linear-gradient($purple-dark, $purple);
