@import 'variables';

$borderColorDarkTheme: rgba(255, 255, 255, 0.3);
$borderColorWhiteTheme: rgba(150, 150, 150, 0.3);

@mixin small-player-btn($darkTheme) {
  border-radius: 0;
  border: none;
  font-size: initial;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: transparent;

  @if $darkTheme{
    color: white;
  } @else {
    color: black;
  }

  &:hover {
    color: $brand-primary;
  }

  &:active{
    @if $darkTheme{
      box-shadow: inset 0 3px 8px rgba(255, 255, 255, 0.2);
      background: #1a1a1a;
    }
  }
}

@mixin small-player($darkTheme) {
  padding-right: 0;

  @if $darkTheme {
    background: black;
    color: white;
  } @else {
    background: white;
    color: black;
  }

  .button-container {
    padding: 0;
    position: absolute;
    display: flex;
    width: 100vw;
    margin-left: -10px;

    .prev,
    .next,
    .play,
    .pause {
      @include small-player-btn($darkTheme);
      @if $darkTheme {
        border-right: 1px solid $borderColorDarkTheme;
      } @else {
        border-right: 1px solid $borderColorWhiteTheme;
      }
    }
  }

  .player-settings .btn {
    z-index: 1;
    position: relative;

    @include small-player-btn($darkTheme);
    @if $darkTheme {
      border-left: 1px solid $borderColorDarkTheme;
    } @else {
      border-left: 1px solid $borderColorWhiteTheme;
    }
  }

  /deep/ app-toggle-liked-track {
    padding: 0 !important;
    margin-right: 15px;

    .toggle-liked-track {
      @include small-player-btn($darkTheme);
      display: flex;
      align-items: center;
      justify-content: center;

      @if $darkTheme {
        border-right: 1px solid $borderColorDarkTheme;
      } @else {
        border-right: 1px solid $borderColorWhiteTheme;
      }
    }
  }

  /deep/ app-range-slider {
    top: -10px;
    position: absolute;
    width: 100%;
    left: 0;

    .min-value,
    .max-value {
      display: none;
    }
  }

  .meta {
    padding: 0 !important;
    padding-left: 109px !important;
    width: calc(100vw - 66px);

    .artist {
      display: block;
    }
  }
}

:host {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 0 10px;
  position: relative;

  .player-settings {
    position: absolute;
    right: 5px;
    top: 5px;
    color: $gray-dark;
  }

  .button-container {
    padding-top: 12px;

    .next, .prev {
      border: none;
      font-size: 24px;
      background: none;
      vertical-align: middle;
      box-shadow: none;

      &:hover {
        color: grey;
      }

      &:disabled {
        pointer-events: none;
      }
    }

    .play, .pause {
      width: 60px;
      height: 60px;
      border: none;
      font-size: 28px;
      border-radius: 30px;

      &:disabled {
        pointer-events: none;
      }
    }

    .play i {
      padding-left: 3px;
    }
  }

  app-range-slider {
    display: block;
    margin-top: -5px;
  }

  div.volume, div.time {
    display: flex;
    justify-content: space-around;

    span, i, div {
      flex: auto;
      text-align: center;
    }

    i {
      font-size: 22px;
    }
  }

  .meta {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding-right: 10px;
    padding-bottom: 15px;
    text-align: left;

    app-toggle-liked-track {
      padding: 10px;
    }

    .details {
      overflow: hidden;

      .track-title,
      .artist {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .dummy {
    i {
      padding: 10px;
      color: #ccc;
    }

    .track-title,
    .artist {
      background: #efefef;
      color: transparent;
      display: block;
      height: 17px;
    }

    .track-title {
      width: 250px;
      margin-bottom: 4px;
    }

    .artist {
      width: 100px;
    }
  }

  &.full-screen {
    @include small-player(true);
  }

  @media (max-width: $screen-xs-max) {
    @include small-player(false);

    .button-container {
      .btn.next{
        margin-left: auto;
        border-left: 1px solid $borderColorWhiteTheme;
      }
    }

    .meta {
      font-size: 11px;
      padding-left: 83px !important;

      .details {
        padding-top: 5px;
      }
    }

    .player-settings {
      display: none;
    }
  }
}
