<div class="track-list-item"
     appDraggable
     [dragData]="track"
     [dragImageUrl]="track.image.getSmallSizeUrl()"
     dragEffect="copy"
     (click)="track.selectable.toggleSelect()">
  <div class="cover">
    <app-track-cover [track]="track" [size]="getSize()"></app-track-cover>
    <app-track-play-button [track]="track" [tracks]="tracks"></app-track-play-button>
  </div>
  <div class="details">
    <div class="track-info">
      <app-toggle-liked-track [track]="track"></app-toggle-liked-track>
      <div class="meta"
           appTrackPlayOn="click"
           [track]="track"
           [tracks]="tracks">
        <b class="track-title">
          <i class="fa fa-bars drag-indicator hidden-xs"></i>
          {{track.title}}
        </b>
        <div class="artist">
          <span>{{track.artist.getFullName()}}</span>
          <span class="created">created
              <span [appTimeAgo]="track.createdAt">{{track.createdAt}}</span>
          </span>
        </div>
      </div>
      <div class="btn-holder">
        <div class="btn btn-xs btn-default"
             (click)="addToQueue(track)">
          <span class="fa fa-queue"></span>
        </div>
        <ng-content></ng-content>
      </div>
    </div>
    <div class="stats">
      <div class="duration label label-default label-light">
        <i class="fa fa-clock-o" aria-hidden="true" alt="play count"></i>
        <span *ngIf="track.duration">
            {{track.duration/1000 | hReadableSeconds}}
          </span>
        <span *ngIf="!track.duration">
            <app-loading-spinner [isLoading]="true"></app-loading-spinner>
          </span>
      </div>
      <div *ngIf="track.likes"
           class="favs label label-default label-light">
        <i class="fa fa-heart" aria-hidden="true" alt="favouites count"></i> {{track.likes | kMilShortener}}
      </div>
      <div *ngIf="track.clicks"
           class="plays label label-default label-light">
        <i class="fa fa-play-circle" aria-hidden="true" alt="play count"></i> {{track.clicks | kMilShortener}}
      </div>
      <div *ngIf="track.genre"
           class="genre label label-default label-light">
        #{{track.genre}}
      </div>
    </div>
  </div>
</div>
